<% include ../partials/header %>
<div id="buy-player-list" class="blankslate">
	<h1>Acheter un joueur</h1>

	<form action="#" method="GET" class="form-actions">
		<dl class="form-group">
			<dt><label for="filter-position">Position :</label></dt>
			<dd>
				<select name="filter-position" id="filter-position" class="form-select" v-model="position" v-on:change="refresh()">
					<option value="">Toutes les positions</option>
					<% positionList.forEach( function( positionItem ){ %>
						<option value="<%= positionItem._id %>"><%= positionItem.name %></option>
					<% }) %>
				</select>
			</dd>
		</dl>
		<dl class="form-group">
			<dt><label for="filter-club">Club :</label></dt>
			<dd>
				<select name="filter-club" id="filter-club" class="form-select" v-model="club" v-on:change="refresh()">
					<option value="">Tous les clubs</option>
					<% clubList.forEach( function( club ){ %>
						<option value="<%= club._id %>"><%= club.name %></option>
					<% }) %>
				</select>
			</dd>
		</dl>
	</form>

	<div>
		<div v-for="buyPlayerItem in buyPlayerList" v-bind:buyplayerlist="buyPlayerItem">
			<strong>{{ buyPlayerItem.firstname }} {{ buyPlayerItem.lastname }}</strong>
			
			<form action="/mon-equipe/acheterjoueur" method="POST">
				<input type="hidden" name="player" :value="buyPlayerItem._id" />
				<button class="btn btn-primary" type="submit">Acheter pour {{ buyPlayerItem.buyingValue }}€</button>
			</form>
		</div>
	</div>
</div>

<script src="/assets/vue/vue.js" type="text/javascript"></script>
<script src="/assets/vue/vue-resource.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var appBuyPlayerListPosition = '';
	<% positionList.forEach( function( positionItem ){ %> <% if (positionItem.name == position) { %>
	appBuyPlayerListPosition = '<%= positionItem._id %>';
	<% } %> <% }) %>
</script>
<script src="/assets/app.js" type="text/javascript"></script>
<% include ../partials/footer %>