<% include ../partials/header %>
<div class="blankslate">
	<h1>Mon équipe</h1>
	
	<% if (user.team == undefined) { %>
		<div class="flash flash-error">Votre équipe n'a pas encore été créée !</div>
		<form action="/monequipe/creer" method="POST">
			<dl class="form">
				<dt><label for="name">Nom : </label></dt>
				<dd><input type="text" name="name" class="input-large" placeholder="Nom de l'équipe" /></dd>
			</dl>
			<button class="btn" type="submit">Créer</button>
		</form>
	
	<% } else { %>
		
		<h2>Nom</h2>
		<%= userTeam.name %>

		<h2>Argent restant</h2>
		<%= userTeam.getCurrentMoney() %> €

		<h2>Liste des joueurs</h2>
		<% playerList.forEach(function(player){ %>
			- <%= player.firstname %> <%= player.lastname %> vaut <%= player.currentValue %>€, acheté <%= player.initValue %>€ le <%= player.date %>

			<form action="/monequipe/vendrejoueur" method="POST">
				<input type="hidden" name="playerId" value="<%= player.id %>" />
				<button class="btn" type="submit">Vendre pour <%= player.sellingValue %>€</button>
			</form>
		<% }) %>
	
		<h3>Gardien</h3>
		<a href="/monequipe/acheter/Gardien">Acheter un gardien</a>.
	
		<h3>Défenseur</h3>
		<a href="/monequipe/acheter/Defenseur%20central">Acheter un défenseur central</a>.
	
		<h3>Milieu de terrain</h3>
		<a href="/monequipe/acheter/milieu">Acheter un milieu de terrain</a>.
	
		<h3>Attaquant</h3>
		<a href="/monequipe/acheter/attaquant">Acheter un attaquant</a>.
		
	<% } %>
</div>
<% include ../partials/footer %>