<% include ../partials/header %>
<div class="blankslate">
	<h1>Mon équipe</h1>
	
	<% if (user.team == undefined) { %>
		<div class="flash flash-error">Votre équipe n'a pas encore été créée !</div>
		<form action="/mon-equipe/creer" method="POST">
			<dl class="form">
				<dt><label for="name">Nom : </label></dt>
				<dd><input type="text" name="name" class="input-large" placeholder="Nom de l'équipe" /></dd>
			</dl>
			<button class="btn" type="submit">Créer</button>
		</form>
	
	<% } else { %>
		<% if ( error != undefined && error != '' ) { %>
		<div class="flash flash-error">
			<% if (error == 'not-enough-money') { %>
			Vous n'avez pas assez d'argent pour acheter ce joueur !
			<% } else { %>
				<%= error %>
			<% } %>
		</div>
		<% } %>
		
		<h2>Nom</h2>
		<%= userTeam.name %>

		<h2>Argent restant</h2>
		<%= userTeam.getCurrentMoney() %> €

		<h2>Variation équipe</h2>
		<%= variation %> €

		<h2>Tendance jour</h2>
		<%= variationDay %> €

		<h2>Tendance semaine</h2>
		<%= variationWeek %> €
		
	<% } %>
</div>
<% include ../partials/footer %>